In [1]:
import tensorflow as tf
from tensorflow.keras.datasets import imdb
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [7]:
import pandas as pd
df=pd.read_csv('IMDB Dataset.csv')

In [8]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [9]:
df=df.sample(10000)

In [10]:
df.shape

(10000, 2)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 46058 to 22500
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [12]:
df['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [13]:
df.head()

                                                  review  sentiment
46058  THE ODD COUPLE is the classic film version of ...          1
49718  There is a lot of crap coming out of Hollywood...          1
43648  I experienced Nightbreed for the first time on...          1
41018  First, I did like this film. It was well acted...          1
41893  This movie was by far the worst movie that I h...          0

In [14]:
#Function to clean HTML tag

import re
def clean_html(text):
    clean=re.compile('<.*?>')
    return re.sub(clean,' ',text)

In [15]:
df['review']=df['review'].apply(clean_html)

In [16]:
def convert_lower(text):
    return text.lower()

In [17]:
df['review']=df['review'].apply(convert_lower)

In [18]:
#function to remove special charecters
def remove_special(text):
    x=''
    for ch in text:
        if ch.isalnum():
            x=x+ch
        else:
            x=x+' '
    return x

In [19]:
df['review']=df['review'].apply(remove_special)

In [20]:
df.head()

                                                  review  sentiment
46058  the odd couple is the classic film version of ...          1
49718  there is a lot of crap coming out of hollywood...          1
43648  i experienced nightbreed for the first time on...          1
41018  first  i did like this film  it was well acted...          1
41893  this movie was by far the worst movie that i h...          0

In [1]:
#remove stop words
nltk.download()

NameError: name 'nltk' is not defined

In [2]:
import nltk
print(nltk.data.path)

['C:\\Users\\Admin/nltk_data', 'C:\\Program Files\\Python311\\nltk_data', 'C:\\Program Files\\Python311\\share\\nltk_data', 'C:\\Program Files\\Python311\\lib\\nltk_data', 'C:\\Users\\Admin\\AppData\\Roaming\\nltk_data', 'C:\\nltk_data', 'D:\\nltk_data', 'E:\\nltk_data']

In [7]:
nltk.download('stopwords', download_url='http://nltk.github.com/nltk_data/')

TypeError: Downloader.download() got an unexpected keyword argument 'download_url'

In [6]:
pip install --upgrade nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\users\admin\appdata\roaming\python\python311\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\admin\appdata\roaming\python\python311\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\users\admin\appdata\roaming\python\python311\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\admin\appdata\roaming\python\python311\site-packages (from nltk) (2023.3.23)
Requirement already satisfied: tqdm in c:\users\admin\appdata\roaming\python\python311\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\admin\appdata\roaming\python\python311\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip